.toast {
    position: absolute; 
    width: 150px;
    height: 100px;
    top: 30px;
    left: 50%;
    border-radius: 5px;
    text-align: center;
}

.toast.danger {
    background-color: rgba(255, 2, 2, 0.705);
    color: rgb(255, 255, 255);
    border: solid 1px rgb(31, 19, 19);
}

#userMenuOptions.hidden {
    display: none;
}

.center-div {
    position: center;
    vertical-align: middle;
    margin: auto;
    text-align: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 230px;
    background-color: rgba(204, 204, 204, 0);
}


/**
* Style des icônes
**/
[class^="icon-"], [class*=" icon-"] {
    font-size: 1.5em;
}

.icon-switch {
    color: rgba(4, 136, 59, 0.8);
}
.icon-bin2 {
    color: rgba(243, 9, 9, 0.8);
}