<div class="center-div">
    <form id="loginForm" class="form-group">
        <br>
        <br>
        <label for="loginField">Identifiant</label>
        <input type="text" name="loginField" autocomplete="off" class="form-control" placeholder="Saisir votre identifiant"
            style="text-align:center">
        <br>
        <label for="passwordField">Mot de passe</label>
        <input type="password" name="passwordField" autocomplete="off" class="form-control" placeholder="Saisir votre mot de passe"
            style="text-align:center">
        <br>
        <button type="submit" id="btnLogin" class="btn btn-success" disabled>Connexion</button>
        
    </form>
</div>
<!-- Bas de page -->
<footer>
    &copy; Aelion 2018
</footer>